# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/

# VSCode settings
.vscode/

# Windows image file thumbs.db
Thumbs.db

# macOS file system files
.DS_Store

# JetBrains Rider IDE settings
.idea/

# Unity asset store packages
Packages/manifest.json
